.App {
  text-align: center;
}

.container {
  background: rgb(216, 219, 233);
  color: black;
  width: 240px;
  height: 230px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 3px solid black;
  border-radius: 20px;
}

h1 {
  font-size: 36px;
}

.li {
  text-align: start;
}

.button {
  background: rgb(83, 33, 3);
  color: #f1f1f1;
  text-transform: uppercase;
  width: 150px;
  height: 30px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 7px;
  border-style: none;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
